[Unit]
Description=gohttpd Service
After=syslog.target network.target

[Service]
Type=simple
User=gohttpd
ExecStart=/opt/gohttpd/bin/gohttpd -config /opt/gohttpd/etc/config.json -enable-syslog
Restart=on-abort

[Install]
WantedBy=multi-user.target
