[Unit]
Description=cmdbd Service
After=syslog.target network.target

[Service]
Type=simple
User=cmdbd
ExecStart=/usr/sbin/cmdbd -config /etc/cmdbd.json
Restart=on-abort

[Install]
WantedBy=multi-user.target
