[Unit]
Description=gocmdbd Service
After=syslog.target network.target

[Service]
Type=simple
User=gocmdbd
ExecStart=/opt/gocmdbd/sbin/gocmdbd -config /opt/gocmdbd/etc/config.json
Restart=on-abort

[Install]
WantedBy=multi-user.target
